
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#f9c4c4, #fe7b7b,#ccc);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    font-size: 3em;
    background: linear-gradient(90deg, #368ce8, #073263);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* for webkit browsers */
    box-shadow: -1em 0 .4em rgb(58, 103, 161);
    font-style: italic;
    border: 2px solid white; /* מסגרת לבנה */
    padding: 10px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); /* צל לכותרת */
    animation: fade 3s infinite; /* אנימציה */

}
@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100vmin;
    height: 100vmin;
    background: linear-gradient(#f9c4c4, #fe7b7b,#ccc);
    margin-bottom: 15px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:linear-gradient(#073263, #6185ad);
    border: 1px solid #ccc;
    font-size: 10vmin;
    cursor: pointer;
  
}

.cell:hover {
    background:linear-gradient(#0cb0bc,#0d0f7f) ;
}

